<div class="comment-list-wrapper">
  <div class="comment-list">
    <% if comment.user.profile && comment.user.profile.avatar.attached? %>
        <%= image_tag comment.user.profile.avatar.variant(resize_to_fill: [40, 40]) %>
    <% end %>
    <div class="comment-list-content">
      <div class="comment-list-content-top">
        <p><%= comment.user.username %></p>
        <p><%= l comment.created_at  %></p>
      </div>
      <p><%= simple_format comment.content %></p>
    </div>
  </div>
</div>