<div class="comment-list-wrapper">
  <div class="comment-list">
  <%= render partial: 'layouts/profile_avatar', locals: {user: comment.user, a: 40, b: 40} %>
    <div class="comment-list-content">
      <div class="comment-list-content-top">
        <p><%= comment.user.username %></p>
        <p><%= l comment.created_at  %></p>
      </div>
      <p><%= simple_format comment.content %></p>
    </div>
  </div>
</div>