<div class="main-image">
  <div class="main-image-background">
  </div>
  <div class="main-image-contents">
    <div class="main-image-contents-container">
      <h2>人と山と触れ合う</h2>
      <%= link_to 'アカウント作成', new_user_registration_path, class: 'account-button' %>
    </div>
  </div>
</div> 