/*
*= require lightbox
 *= require_tree 
 *= require_self
 */

@import '@fortawesome/fontawesome-free/js/all';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
 
* {
  margin:0; padding:0;
  color: #333333;
}

body {
  background-color: #fafafa;
}

/* header */

header {
  width: 100%;
  padding: 15px 0;
  background-color: darkcyan;
}

.header-list {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header-list-left .header-list-item .header-list-item-link {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}

.header-list .header-list-right {
  margin: auto 0;
  position: relative;
  text-align: center;
}

.header-list .header-list-right-signed {
  width: 150px;
}

.header-list .header-list-right-signed img {
  width: 80px;
  height: 80px;
}

.header-list .header-list-right p{
  font-size: 32px;
  color: white;
  position: relative;
  text-align: center;
}

.header-list-item {
  display: inline-block;
  list-style: none;
}

.header-list-item .header-list-item-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
} 

.header-list-item .header-list-item-signup {
  margin-right: 5px;
}

.header-list-item .guest-login-item {
  color: white;
  margin-left: 10px;
}

.header-list .header-list-right-signed .signin-dropdown-menu {
  position: absolute;
  z-index: 20;
  background: white;
  list-style: none;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: none;
}

.header-list .header-list-right-signed .is-active {
  display: block;
}

.header-list .header-list-right-signed .signin-dropdown-menu li{
  margin: 5px 0;
  padding: 0px 3px;
  text-align: center;
}

.header-list .header-list-right-signed .signin-dropdown-menu li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.header-list .header-list-right-signed .signin-dropdown-menu .logout {
  padding-top: 3px;
  border-top: 2px solid black;
}

/* tab */
.tab-wrapper {
  width: 50%;
  margin: 60px auto 15px;
  padding: 10px;
}

.tab-wrapper .tab {
  list-style: none;
    display: flex;
    justify-content: space-around;
}

.tab-wrapper .tab li a {
  font-size: 30px;
  text-decoration:none;
  color: green;
}

.tab-wrapper .tab li a:hover {
  border-bottom: 3px solid green;
}

.tab-wrapper .tab li a:visited {

}

.tab-wrapper .tab li a:active {

}

.box17{
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px #5bb7ae;
  border-bottom: solid 2px #5bb7ae;
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #5bb7ae;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
  margin: 0; 
  padding: 0;
}

/* icon */
.icon-nav-wrapper {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icon-nav-wrapper .icon-nav {
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.icon-nav-wrapper .daily-create {
  text-align: right;
}

/* iconの色 */

.header-list-right .fa-user-circle {
  color: white;
  
}

i {
  color: green;
}

.icon-nav-wrapper .icon-nav a {
  position: relative;
}

.icon-nav-wrapper .icon-nav a i {
  color: green;
}

.icon-nav-wrapper .icon-nav a .fa-home:after {
  content: 'home';
  position: absolute;
  top: 100%;
  font-size: 16px;
  left: 5px;
}

.icon-nav-wrapper .icon-nav a .fa-user-circle:after {
  content: 'own';
  position: absolute;
  top: 100%;
  font-size: 16px;
  left: 6px;
}

.icon-nav-wrapper .icon-nav a .fa-mountain:after {
  content: 'mountain';
  position: absolute;
  top: 100%;
  font-size: 16px;
  left: -5px;
}

/* 日記作成ボタン */

.daily-create {
  width: 50%;
  margin: 0 auto 70px;
  text-align: right;
}

.daily-create a {
  position: relative;
  text-align: center;
}

.daily-create a .fa-book {
  width: 84px;
}

.daily-create a .fa-book:after {
  content: '日記を書く';
  position: absolute;
  bottom: -25px;
  font-size: 16px;
  left: 4px;
}

/* pagination */
/*ページネーション自体のデザイン*/
.pagination {
  width: 50%;
  margin: 50px auto 100px;
  text-align: center;
}

.pagination .page {
  display: inline-block;
  margin-right: 3px;
  font-size: 20px;
  padding: 0 4px;
}

.pagination .page a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination .current  {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px; 
  padding: 0 8px;    /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination .page a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.pagination i {
  color:  #696969;
  margin: 0 6px;
}