.post-content {
  width: 80%;
  height: 200px;
  margin: 0 auto 30px;
  border: 1px solid black;
  .post-box {
    display: flex;
    .post-box-left {

    }
    .post-box-center {

    }
    .post-box-right {

    }
  }
}