.daily-form-wrapper {
  width: 50%;
  margin: 0 auto;
  background: white;
  padding: 20px 0 40px;
  border-radius: 40px;
  border: 1px solid black;
  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .daily-form {
    width: 80%;
    margin: 0 auto;
    .field {
      margin-bottom: 20px;
      label {
        display: block;
      }
      input {
        border: 1px solid black;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 48px;
        width: 100%;
        font-size: 18px;
        background: white;
        box-sizing: border-box;
      }
      select {
        border: 1px solid black;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 48px;
        width: 100%;
        font-size: 18px;
        background: white;
        box-sizing: border-box;
      }
      textarea {
        width: 100%;
        height: 150px;
        font-size: 16px;
        padding: 5px;
        box-sizing: border-box;
        background: white;
        border: 1px solid black;
      }
      .image-up {
        padding-top: 5px;
      }
    }
    .btn {
      width: 100%;
      height: 48px;
    }
  }
}