// index.html.erb
.table-wrapper {
  width: 45%;
  margin: 50px auto 0;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  table {
    border-collapse: collapse;
    padding: 0;
    width: 100%; 
    box-shadow: 0 0 15px -6px #00000073;
    tr {
      background-color: #fff;
      text-align: center;
      width: 20%;
      padding: 20px 0;
      background-color: #fff;
      color:#3a3a3a;
      th, td {
        padding: 20px 0;
        border-bottom: 1px solid #eee;
      }
      td {
        a {
          text-decoration: none;
          border-bottom: 4px solid #d4faff;
        }
        a:hover {
          border-bottom: 3px solid red;
        }
      }
      th {
        width: 20%;
        padding: 10px 0;
        font-size: 14px;
        padding: 15px;
        background-color: #008B8B;
        color:#fff;
      }
    }
    tr:hover {
      background-color: #d4faff;
    }
  }
}

// show.html.erb
.mountain-information {
  width: 50%;
  margin: 80px auto 0;
  .mountain-information-top {
    align-items: center;
    margin-bottom: 40px;
    i {
      color: #008B8B;
    }
    p {
      font-size: 20px;
      display: inline-block;
    }
    .mountain-name {
      font-size: 32px;
      width: 40%;
      display: inline-block;
    }
    .mountain-prefecture {
      width: 20%;
    }
    .mountain-height {
      width: 20%;
    }
  }
  .mountain-photo-wrapper {

  }
  .mountain-feature-wrapper {
    i {
      color: #008B8B;
      margin-left: -5px;
    }
    .feature-title {
      font-size: 28px;
      margin-bottom: 10px;
      background: linear-gradient(transparent 70%, #5bb7ae 70%);
      display: inline;
      letter-spacing: 5px;
    }
    .box {
      padding: 0.5em 1em;
      margin: 1em 0;
      background: #f4f4f4;
      border-left: solid 6px #5bb7ae;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
      .feature-text {
        font-size: 20px;
        margin: 0; 
        padding: 0;
        text-align: justify;
      }
    }
  }
}