.profile-wrapper {
  width: 50%;
  height: 500px;
  margin: 40px auto 0;
  @include md {
    margin: 20px auto 0;
  }
  @include sm {
    width: 70%;
    margin: 10px auto 0;
  }
  .profile-image {
    form {
      text-align: center;
      margin: 30px 0;
      @include md {
        margin: 10px 0;
      }
      @include sm {
        margin: 0;
      }
      img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        @include md {
          width: 100px;
          height: 100px;
        }
      }
      .field {
        margin-bottom: 30px;
        input[type="image-up"] {
          padding: 10px;
          margin-left: 3%;
        }
        label {
          display: block;
          margin-bottom: 5px;
        }
        textarea {
          width: 70%;
          height: 100px;
          font-size: 16px;
          padding: 5px;
          @include xl {
            width: 80%;
          }
          @include lg {
            width: 100%;
          }
        }
      }
      input[type="submit"] {
        border: 1px solid #ddd;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 48px;
        font-size: 18px;
        background: #eaedf2;
        box-sizing: border-box;
      }
      
    }
  }
  .profile-text {

  }
}