<div class="icon-nav-wrapper">
  <div class="icon-nav">
    <%= link_to dailys_home_path do %>
      <i class="fas fa-home fa-3x"></i>
    <% end %>
    <%= link_to dailys_own_path do %>
      <i class="fas fa-user-circle fa-3x"></i>
    <% end %>
    <%= link_to dailys_mountain_path do %>
      <i class="fas fa-mountain fa-3x"></i>
    <% end %>
  </div>
</div>